body {
    color: rgb(15, 1, 15);
    background-color: darkgray;
    width: 100%;
    }
header {
    height: 100px;
    width: auto;
}
img {
    display: block;
    margin: auto;
    height: 200px;
    width: 600px;
}
ul {
    background-color: #11f5b0;
    margin: 0px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    list-style-type: none;
    padding: 0%;
}
li {
    display: inline;
    margin: 10px;
}