.proyecto{
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    height: auto;
    background-color: #99FF33;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
    justify-content: space-around;
    align-items: stretch; 
    box-sizing: border-box; 
}
.caja1{
   width: 25%;
   height: auto;
   margin: 0px;
   justify-content: space-around;
    align-items: stretch;  


}
.proyecto img{
    width: 15em;
    height: 30em;
    margin: 10px;
    border-radius: 50%;
}
.proyecto h2{
    text-align: center;
    font-size: 35px;
    width: 100%;
}
.texto{
    justify-content: space-around;
    align-items: stretch;      
    margin: 2em;
}
h3{
    margin-bottom: auto;
    color: #1B5E20;
}
h4{
    margin-bottom: 5px;
    color: #2E7D32;
}
.proyecto p{
    font-family:'Times New Roman', Times, serif ;
    color: #388E3C;
    text-align: justify;
}
footer{
    background-color: rgb(19, 97, 121);
    color: cornsilk;
    max-width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
    font-family: sans-serif;

}
footer p{
    color: cornsilk;
    text-align: center;
}
footer img{
    width: 30px;
    height: 30px;
    margin: 5px;
}
@media (min-)